<%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
    <%= f.submit "Search" %>
<% end %>


<h1 style = "color:red;">Listing Students</h1>
<h4><%= link_to "New Student", new_student_path, class:'label label-default' %></h4>

<table class = "table table-hover">
	<tr class = "info">
		<th><%= sort_link(@search, :name, "Name") %></th>
		<th><%= sort_link(@search, :email, "Email") %></th>
		<th><%= sort_link(@search, :phone_number, "phone_number") %></th>
		<th><%= sort_link(@search, :address, "Address") %></th>
		<th><%= sort_link(@search, :classname_id, "classname_id") %></th>
	</tr>

	<% @students.each do |student| %>
		<tr class = "active">
			<td><%= student.name %></td>
			<td><%= student.email %></td>
			<td><%= student.phone_number %></td>
			<td><%= student.address %></td>
			<td><%= student.classname_id %></td>
			<td><%= link_to "Show", student_path(student), class:'label label-primary' %></td>
			<td><%= link_to 'Edit', edit_student_path(student), class:'label label-danger' %></td>
      		<td><%= link_to 'Destroy', student_path(student), method: :delete,
              data: { confirm: 'Are you sure?' }, class:'label label-warning' %></td>
		</tr>
	 <% end %>
</table>
<%= link_to 'Back', controller: :home%>