<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone_number:</strong>
  <%= @student.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @student.classname_id %>
</p>

<p>
  <strong>Image</strong><br>
  <%= image_tag @student.image.url(:large) %><br>
</p>

<p>
  <strong>Video</strong><br>
  <%= video_tag @student.video.url, controls: true, width: 400 %>
</p>

<%= link_to 'Edit', edit_student_path(@student), class:'label label-danger' %>
<%= link_to 'Back', students_path, class:'label label-default' %>