<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Phone_number:</strong>
  <%= @teacher.phone_number %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<p>
  <strong>Class:</strong>
  <%= @teacher.class %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher), class:'label label-danger' %>
<%= link_to 'Back', teachers_path, class:'label label-default' %>